.cardImageRight {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
    width: 100px;
    height: 100px;
    border-radius: 16px;
}

.imageDarkMode {
    background-color: #eee;
}

@media (max-width: 768px) {
    .cardImageRight {
        position: static;
        transform: none;
        display: block;
        margin: 0 auto;
    }
}
