.clearBtnStyle {
    background-color: #fff;
    border: 1px solid #000;
    padding: 6px;
    border-radius: 10px;
    margin: 0 5px 10px 5px;
    cursor: pointer;
    width: 110px;
    height: 50px;
    box-shadow: inset 0 0 0 0 transparent, #000 2px 2px 2px;
    font-size: 16px;
    vertical-align: text-bottom;
    transition: box-shadow 0.15s ease-in-out;
}

.clearBtnStyle:active {
    box-shadow: inset 0 0 0 0 transparent, #000 0 0 0;
}

.fillBtn:hover, .fillBtn:focus {
    background-color: #ffffe0;
}

.fillBtn:active {
    box-shadow: inset 0 0 0 25px #ffd700;
}

.spinBtn {
    transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out, background-color 0.10s ease-in-out;
    transform: rotate(0deg);
    background-color: #fff;
}

.spinBtn:hover, .spinBtn:focus {
    transform: rotate(-5deg);
}

.spinBtn:active {
    transform: rotate(10deg);
    background-color: #ffc0f0;
}

.karatBtn {
    position: relative;
    font-size: 1em;
    transition: box-shadow 0.15s ease-in-out, padding-right 0.15s ease-in-out, font-size 0.15s ease-in-out;
}

.karatBtn::after {
    content: ">";
    position: absolute;
    right: 6px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    font-size: 1em;
    font-weight: bold;
    transition: opacity 0.15s ease-in-out,  font-size 0.20s ease-in-out;
}

.karatBtn:hover, .karatBtn:focus {
    padding-right: 16px;
}

.karatBtn:hover::after, .karatBtn:focus::after {
    opacity: 1;
}

.karatBtn:active {
    font-size: 0;
}

.karatBtn:active::after {
    font-size: 1.5em;
}

@keyframes rainbowBtnMove {
    0% {
        background-position-x: 0;
    }
    50% {
        background-position-x: -55px;
    }
    100% {
        background-position-x: -110px;
    }
}

.rainbowBtn {
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 1.0);
    font-size: 1em;
    text-shadow: #fff 1px 1px;
    transition: box-shadow 0.15s ease-in-out, color 0.3s, font-size 0.2s, text-shadow 0.3s, background-color 0.3s;
}

.rainbowBtn::before {
    display: block;
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    transform: scale(1);
    animation-name: rainbowBtnMove;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

.rainbowBtn:hover, .rainbowBtn:focus {
    color: #fff;
    text-shadow: #000 1px 1px;
    background-color: rgba(255, 255, 255, 0.0);
}

.rainbowBtn:hover::before, .rainbowBtn:focus::before {
    opacity: 1;
}

.rainbowBtn:active {
    text-shadow: #000 2px 2px;
}

.rainbowBtn:active::before {
    transform: scale(2);
}
