

.card {
    position: relative;
    width: 100%;
    min-height: 150px;
    border: 1px solid #000;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: #000 2px 2px 4px;
    margin-bottom: 20px;
  }
  
.card h3 {
    font-size: 23pt;
    margin: 18px 0;
    color: var(--subheading);
    z-index: 1;
    transition: color 200ms;
}

.card p {
    line-height: 24px;
    padding: 0 60px 8px 60px;
}

@media (prefers-reduced-motion: reduce) {
    .card h3 {
        transition: none !important;
    }
}


@media screen and (max-width: 768px) {
    .card {
        height: auto;
        padding: 16px 10px;
    }
    .card h3 {
        margin-top: 5px;
    }
    .card p {
        padding: 0 20px 8px 20px;
    }
}
