:root {
  --background: #171717;
  --foreground: #ffffff;
  --linkDefault: #a8f2ff;
  --linkHover: #e188ff;
  --subheading: #cccccc;
}

.light {
  --background: #ffffff;
  --foreground: #171717;
  --linkDefault: #0000ee;
  --linkHover: #a710ff;
  --subheading: #686868;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  transition: background-color 200ms, color 200ms;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: var(--linkDefault);
  text-decoration: none;
  transition: color 0.075s linear;
}

a:hover, a:focus {
  color: var(--linkHover);
}

.reducedMotion body {
  transition: none !important;
}
.reducedMotion a {
  transition: none !important;
}
